<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Scheduler manages enrollment and attendance for UC Berkeley Computer Science Mentors' (CSM) 300+ tutoring sections for lower-division EECS courses."
    />
    <meta name="google-site-verification" content="DSGGNcQKdAlxIOPXTPQlXy_f0GcCndxmYZAWyakAW5w" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet" />
    {% load static %} {% if DJANGO_ENV == 'prod' %}
    <title>CSM Scheduler</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'frontend/img/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'frontend/img/favicon-16x16.png' %}" />
    {% else %}
    <title>Development: CSM Scheduler</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'frontend/img/favicon-dev-32x32.png' %}" />
    {% endif %} {% block extra_head %} {% endblock %}
  </head>
  <body>
    {% block body %} {% endblock %}
  </body>
  {% block after_body %} {% endblock %}
</html>
