<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
		<title>CSM Scheduler</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'frontend/css/style.css' %}"/>
		{% block extra_head %}
		{% endblock %}
	</head>
	<body>
		{% block body %}
		{% endblock %}
	</body>
	{% block after_body %}
	{% endblock %}
</html>
