{% extends "./base.html" %}
{% block extra_head %}
	<!-- React and ReactDOM -->
	{% if DJANGO_ENV == 'prod' %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.1/umd/react.production.min.js" integrity="sha512-SUJujhtUWZUlwsABaZNnTFRlvCu7XGBZBL1VF33qRvvgNk3pBS9E353kcag4JAv05/nsB9sanSXFbdHAUW9+lg==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.1/umd/react-dom.production.min.js" integrity="sha512-SYsXmAblZhruCNUVmTp5/v2a1Fnoia06iJh3+L9B9wUaqpRVjcNBQsqAglQG9b5+IaVCfLDH5+vW923JL5epZA==" crossorigin="anonymous"></script>
	{% else %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.1/umd/react.development.js" integrity="sha512-WeVzLHA0cvzmpw0uE6ykQt9P+YFpFSTg7byYj5SgA3C47rEmyej7AZTr79Ik14kFxgII+6cHgfpVeRqQj/1Nlw==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.1/umd/react-dom.development.js" integrity="sha512-EefguQ7NUWYV8Z7+a+R+vgwNYeNUGl2Oi9gcuVjShND3ZqwWgQMh1e0gsP0jJiqd4RcyYMWto5lFgXnOEgml+Q==" crossorigin="anonymous"></script>
	{% endif %}
{% endblock %}

{% block body %}
	<div id="app"><!-- React --></div>
{% endblock %}

{% block after_body %}
	{% load static %}
  <script src="{% static 'frontend/main.js' %}"></script>
{% endblock %}
