/* Styles for the coordinator add student modal. */

@use "base/variables" as *;

$modal-width: 65vw;
$modal-height: 75vh;
$modal-effective-height: calc($modal-height - $modal-padding-y);

.coordinator-add-student-modal {
  overflow: hidden;
  height: $modal-height;
  width: $modal-width;
}

.coordinator-add-student-modal-contents {
  height: $modal-effective-height;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .coordinator-add-student-modal {
    width: 85vw;
  }
}
@media screen and (max-width: 1000px) {
  .coordinator-add-student-modal {
    width: 75vw;
  }
}

.coordinator-email-content {
  width: 95%;
  height: 75%;
  max-height: 75%;
  overflow: auto;
  margin: auto;
}

.coordinator-email-input-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coordinator-email-input-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 5px 0;
}

.coordinator-email-input-item .inline-plus-sign,
.coordinator-email-response-item .inline-plus-sign {
  color: #777;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  line-height: 1.1rem;
}

.coordinator-email-input-item .inline-plus-sign:hover,
.coordinator-email-response-item .inline-plus-sign:hover {
  color: #aaa;
}

.coordinator-email-response-item .inline-plus-sign {
  margin-right: 3px;
}

.coordinator-email-input {
  max-width: 100%;
  width: 250px;
  margin-left: 5px;
}

.coordinator-email-input-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 8px;
}

.coordinator-email-secondary-input-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 4px;
}

.coordinator-email-input-buttons-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.coordinator-email-input-add,
.coordinator-email-modal-button {
  background-color: $csm-neutral;
  border: none;
  border-radius: 8px;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 600;
  justify-content: space-evenly;
  margin: 3px auto 3px;
  padding: 8px 20px;
}

.coordinator-email-modal-button {
  font-weight: normal;
  background-color: $csm-neutral;
  padding: 8px;
  font-size: 0.95rem;
  margin: auto;
}

.coordinator-email-input-add:hover,
.coordinator-email-modal-button:hover {
  background-color: $csm-neutral-darkened;
}

.coordinator-email-input-submit {
  background-color: $csm-green;
  border: none;
  border-radius: 8px;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 600;
  justify-content: space-evenly;
  margin: 10px auto 10px;
  padding: 10px 20px;
}

.coordinator-email-input-submit:hover {
  background-color: $csm-green-darkened;
}

#coordinator-add-student-form input:not(.lock-validation):invalid {
  background-color: #ffdddd;
}

.coordinator-email-response-list {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: auto;
  width: fit-content;
  width: -moz-fit-content;
}

.coordinator-email-response-item {
  display: contents;
}

.coordinator-email-response-email {
  margin-left: 3px;
}

.coordinator-email-response-email-status {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.coordinator-email-response-form-info {
  color: red;
  font-size: 0.9rem;
  margin-left: 20px;
  margin-bottom: 2px;
}

.coordinator-email-response-form {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 40px;
}

.coordinator-email-response-form label {
  font-size: 0.9rem;
  margin: 5px;
}

.coordinator-email-response-status {
  margin-left: 5px;
}

.coordinator-email-response-status-ok,
.coordinator-email-response-status-conflict,
.coordinator-email-response-status-banned,
.coordinator-email-response-capacity {
  display: flex;
  align-items: center;
  justify-content: left;
}

.coordinator-email-response-status-ok {
  color: green;
}

.coordinator-email-response-status-ok-icon {
  width: 1.25rem;
  height: 1.25rem;
  padding-right: 6px;
  margin: 0 !important;
}

.coordinator-email-response-status-conflict-icon {
  width: 1.5rem;
  height: 1.5rem;
  padding-right: 6px;
  fill: red;
  margin: 0 !important;
}

.coordinator-email-response-status-conflict,
.coordinator-email-response-status-banned,
.coordinator-email-response-capacity {
  color: red;
}

.coordinator-email-response-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-row-gap: 12px;
  margin: 10px 0;
}

.coordinator-email-response-capacity-container {
  margin: 10px 0;
}

.coordinator-email-response-hr {
  border: 1px solid #ccc;
  margin-top: -2px;
  margin-bottom: 10px;
}

.coordinator-email-response-head {
  display: contents;
}

.coordinator-email-response-head-left {
  grid-column: 1;
}

.coordinator-email-response-head-right {
  grid-column: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  column-gap: 5px;
  font-size: 0.9rem;
  text-align: center;
}

.coordinator-email-response-head-right-item {
  flex: 1;
}

.coordinator-email-response-item-container {
  display: contents;
}

.coordinator-email-response-item-left {
  grid-column: 1;
  margin-left: 15px;
}

.coordinator-email-response-item-left-email {
  padding-bottom: 6px;
}

.coordinator-email-response-item-left-detail {
  margin-left: 25px;
  font-size: 0.9rem;
  color: #555;
}

.coordinator-email-response-item-right {
  grid-column: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  row-gap: 3px;
}

.coordinator-email-response-item-right > * {
  flex: 1;
}
