.filtered-table {
  width: 100%;
  margin-top: 20px; /* Adjust the margin as needed */
  border-collapse: collapse;
}

.filtered-table th,
.filtered-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.filtered-table th {
  background-color: #f2f2f2;
}

.filtered-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
