/* Home page styling */

@use "base/variables" as *;

.course-card {
  position: relative;
  width: 320px;
  min-width: 320px;
  border-radius: 16px;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.15);
  min-height: 180px;
  border-top: 30px solid;
  border-top-color: $csm-theme-default;
}

.course-card-link {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

.course-card-link:hover > .course-card {
  background-color: $csm-link-hover;
}

.course-cards-container > .course-card,
.course-card-link {
  margin: 0 75px 50px 0;
}

.course-card-contents {
  padding: 30px;
  min-height: 120px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.course-card-contents > *:nth-last-child(2) {
  /* Ensures there is space between the relation label and whatever precedes it */
  margin-bottom: 20px;
}

.course-card-name {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

/* Format course card section time lists */
.course-card-section-time:not(:last-of-type)::after {
  display: block;
  content: "&";
  font-size: 1.2em;
}

.course-card-title {
  margin: 0 0 20px;
  font-size: 14px;
  color: #bfbfbf;
}

.course-cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

#home-courses-heading {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 300px;
  margin-bottom: 40px;
}

.section-link {
  color: unset;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  font-size: 14px;
  border-radius: 9px;
}

.section-link:hover {
  background-color: $csm-link-hover;
}
