@use "base/variables" as *;

.user-profile-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-profile-main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 500px;
  padding: 48px;
  border: 2px solid $csm-green;
  border-radius: 25px;
}

.user-profile-viewing-header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

.user-profile-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8em;
  height: 8em;
  overflow: hidden;
}

.user-profile-image-container > * {
  min-width: 100%;
}

.user-profile-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-profile-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.user-profile-text {
  margin: 0;
}

.user-profile-name {
  font-size: 1.5rem;
  color: $csm-green-darkened;
}

.user-profile-pronunciation {
  font-style: italic;
  color: $csm-neutral-darkened;
}

.user-profile-email {
  color: $csm-neutral-darkened;
}

.user-profile-bio {
  display: flex;
  gap: 1rem;
  justify-content: left;
  width: 100%;
}

.user-profile-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.user-profile-name-label {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tooltip-info-icon:hover {
  width: 10px;
  color: #aaa;
}

.user-profile-input-field {
  width: 100%;
}

.user-profile-inline {
  display: inline;
}

input[disabled] {
  color: $csm-neutral-darkened;
}

.user-profile-bio-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: flex-start;
  width: 100%;
}

.user-profile-bio-input {
  box-sizing: border-box;
  width: 100%;
  min-height: 100px;
  word-wrap: break-word;
  resize: vertical;
}

.user-profile-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

// .user-profile-wrapper {
//   display: flex;
//   gap: 2rem;
// }

// .user-profile-form {
//   display: flex;
//   gap: 2rem;
// }

// .user-profile-edit {
//   display: flex;
//   gap: 2rem;
// }
