@use "base/variables" as *;

$modal-width: 80vw;
$modal-height: 75vh;
$worksheet-edit-border-radius: 8px;

.resource-wrapper-container {
  max-width: 1064px;
  margin: 20px auto;
}

.resource-table {
  min-width: 750px;
}

.resource-table-container {
  overflow-x: auto;
}

.resource-container {
  height: 100%;
  padding: 24px 0;
  margin: 16px auto;
  background-color: $csm-resources;
  border-radius: 8px;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 10%),
    0 2px 0 -1px rgb(0 0 0 / 6%);
}

.resource-container,
.resource-wrapper-header {
  display: grid;
  grid-template-columns: repeat(2, minmax(50px, 1fr)) 2fr 2fr 1fr 40px;
  grid-column: 1 / -1;
  column-gap: 10px;
  width: 100%;
  text-align: center;
}

.resource-edit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: $modal-height;
}

.resource-edit-content-wrapper {
  // expand container of worksheets/links as much as possible
  flex: 1;
  overflow: auto;
}

.resource-edit-content {
  min-width: 600px;
}

.resource-edit-modal {
  width: $modal-width !important;
  height: $modal-height !important;
}

.resource-edit-modal .modal-contents {
  overflow: hidden;
}

.resource-wrapper-header {
  margin-bottom: 4px;
}

.resource-info,
.resource-wrapper-header > div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  margin: auto;
}

.resource-row {
  hyphens: auto;
}

.resource-row-render {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-column: 1 / -1;
}

.resource-worksheet-files-container {
  display: grid;
  grid-auto-columns: 2fr 1.5fr;
  row-gap: 10px;
  place-content: center center;
  align-items: center;
}

.resource-solution a,
.resource-link a {
  text-decoration: none;
}

.resource-worksheet-file,
.resource-solution,
.resource-worksheet-file a:link,
.resource-solution a:link,
.resource-worksheet-file a:visited,
.resource-solution a:visited,
.resource-link,
.resource-link a:link,
.resource-link a:visited {
  color: $csm-green-darkened;
}

.resource-worksheet-file {
  grid-column: 1;
}

.resource-worksheet-file a:link {
  text-decoration: underline;
}

.resource-solution {
  grid-column: 2;
  width: 80px;
  height: fit-content;
  padding: 2px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  border: 2px solid $csm-green-darkened;
  border-radius: 5px;
}

.resource-worksheet-file a:hover,
.resource-solution a:hover,
.resource-link a:hover {
  color: $csm-green-darkened-2;
  cursor: pointer;
  border-color: $csm-green-darkened-2;
}

.topic {
  padding: 4px 8px;
  margin: 4px;
  background-color: $csm-green;
  border-radius: 4px;
}

#resource-edit-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.resource-info-edit {
  display: flex;
  flex: min-content 0 1;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding: 4px;
  margin: 4px;
}

.resource-edit-head-item {
  align-items: center;
}

.resource-worksheet-edit-item > input {
  width: 100%;
  min-width: 100px;
  max-width: 180px;
}

.topics-tooltip-wrapper {
  position: relative;
  font-weight: initial;
}

.resource-worksheet-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 70%;
  margin: 20px auto;
}

@media screen and (width <= 1200px) {
  .resource-link-container,
  .resource-worksheet-container {
    width: 90%;
  }
}

.resource-link-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 70%;
  margin: 20px auto;
}

.resource-worksheet-head {
  display: grid;

  /* name, worksheet, solution, delete */
  grid-template-columns: repeat(3, 1fr) 20px;
  column-gap: 10px;
  text-align: center;
}

.resource-link-head {
  display: grid;

  /* delete, name, url */
  grid-template-columns: 20px 1fr 1fr;
  column-gap: 10px;
  font-weight: bold;
  text-align: center;
}

.resource-worksheet {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
}

.resource-worksheet-edit {
  display: flex;
  gap: 10px;
  align-content: flex-start;
  align-items: stretch;
  padding-right: 10px; // additional padding matching the flex gap
  border: 2px $csm-neutral solid;
  border-radius: $worksheet-edit-border-radius;
}

.resource-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.resource-link-edit {
  display: grid;
  grid-template-columns: 20px 1fr 1fr;
  column-gap: 10px;
  align-items: baseline;
}

.resource-link-edit-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.resource-links-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-content: center;
}

.resource-worksheet-edit-file-container {
  display: flex;
  flex: 2;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

.resource-worksheet-edit-file {
  display: flex;
  gap: 10px;
  margin: auto 0;

  .resource-worksheet-edit-file-schedule-container,
  .resource-worksheet-edit-file-upload-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  .resource-worksheet-edit-file-upload,
  .resource-worksheet-edit-file-schedule {
    flex: 1;

    .disabled {
      color: $csm-neutral;
    }
  }

  .resource-worksheet-edit-file-schedule {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-start;

    .file-schedule-toggle {
      height: 100%;
    }
  }
}

.resource-worksheet-edit-item {
  flex: 1;
  padding: 10px 0;
}

.file-upload {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;

  width: 100%;

  font-size: 90%;
  font-weight: normal; // override label font

  background-color: white;
  border: 2px solid #ccc;

  .file-upload-text {
    flex: 1;
    padding: 8px 12px;
    cursor: pointer;
  }

  a.file-upload-text {
    // specify color if the file upload text is a link
    color: $csm-green-darkened;

    &:hover {
      color: $csm-green-darkened-2;
    }

    &:visited {
      color: $csm-green-darkened;
    }
  }

  input[type="file"] {
    display: none;
  }

  .file-upload-filename {
    flex: 100%;
    width: 100px;
    overflow-x: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  // clear file button should still be enabled even when the rest of the input is disabled;
  // the only reason why this button would be shown is if the user had specified a file,
  // but a disabled input implies that the user should not have specified any file to begin with;
  // keeping the clear file enabled allows the user to delete the file in this situation.
  button.clear-file {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background-color: #f8f8f8;
    border: none;
    border-left: 2px solid #ccc;

    &:hover {
      color: red;
      background-color: #eee;
    }
  }

  // properties specific to disabled fields
  &.disabled {
    color: $csm-neutral;

    .file-upload-text:not(a) {
      // keep normal cursor if this is a link
      cursor: not-allowed;
    }
  }

  // properties specific to non-disabled fields
  &:not(.disabled) {
    // only set hover if not disabled
    .file-upload-text:hover:not(a) {
      // keep colors specified above if this is a link
      color: $csm-green-darkened;
      border-color: $csm-neutral-darkened;
    }
  }
}

.file-schedule-label {
  flex: 1;

  .file-schedule {
    display: flex;
    flex-direction: row;
    width: 100%;

    .file-schedule-input {
      flex: 1;
    }
  }
}

.delete-worksheet {
  width: 20px;
  padding: 0;
  font-size: 18px;
  color: $csm-neutral-darkened;
  background-color: #eee;
  border: none;
  border-radius: $worksheet-edit-border-radius 0 0 $worksheet-edit-border-radius;

  &:hover {
    color: red;
    background-color: #ddd;
  }
}

.delete-link {
  width: 20px;
  padding: 0;
  font-size: 18px;
  color: $csm-neutral-darkened;
  background-color: transparent;
  border: none;

  &:hover {
    color: red;
  }
}

.upload-icon {
  margin-right: 5px !important;
}

.resource-wrapper-header > div {
  font-size: 16px;
  font-weight: 600;
}

.resource-link-actions-container,
.resource-worksheet-actions-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resource-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 16px;
}

.resource-button {
  font-size: 18px;
  color: $csm-neutral;
  border: none;
}

#edit-icon:hover {
  color: $csm-green-darkened;
}

#delete-icon:hover {
  color: $csm-danger-darkened;
}

.resource-tab-error-text {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  margin: 8px 0;
  color: red;
  text-align: center;
}

#save-icon {
  margin: 0 !important;
}

#resource-button-submit:hover {
  background-color: $csm-green-darkened;
}

.resource-validation-error {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  margin: 3px 2px 4px;
  font-size: 80%;
  color: red;
}

.resource-table-options {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

#toggle-view-edit-input {
  color: $csm-green;
  cursor: pointer;
}

.resource-delete-confirmation .resource-delete-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  text-align: center;
}

.resource-edit-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
