@use "base/variables" as *;

.delete-spacetime {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  height: 90%;
  margin: auto 0;
}

.spacetime-checkbox-label {
  margin-left: 8px;
  font-size: 18px;
  color: #646464;
}

.spacetime-delete-dropper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
