.spacetime-edit-form-title {
  text-align: center;
}

#day-time-fields {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-between;
}

.spacetime-edit-form-validation-container {
  margin-bottom: 8px;
  color: red;
}

.spacetime-edit-form-validation-text {
  margin-left: 4px;
  color: red;
}
