@use "base/variables" as *;

.whitelist-modal-container {
  width: 65vw !important;
  height: 65vh !important;
}

.whitelist-modal {
  height: 90%;
}

.whitelist-modal-add-container,
.whitelist-modal-delete-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 16px;
}

.whitelist-modal-subtitle {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 3px;
}

.whitelist-modal-description {
  color: #333;
  font-size: 0.95rem;
}

.whitelist-modal-submit-status {
  position: relative;
}

.whitelist-modal-submit-status * {
  position: absolute !important;
  top: 4px;
  left: 10px;
  width: 1.5em !important;
  height: 1.5em !important;
}

.whitelist-modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

/* Add tab */

.whitelist-modal-add-textarea {
  margin: 8px 0;
  width: calc(min(450px, 50vw));
  height: calc(min(300px, 50vh));
  resize: none;
}

/* Delete tab */

.whitelist-modal-delete-search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 4px;
}

.whitelist-modal-delete-search {
  margin-top: 4px;
}

.whitelist-modal-delete-search-description {
  color: #333;
  font-size: 0.95rem;
}

.whitelist-modal-delete-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  overflow: auto;
  max-height: 40vh;
  min-width: 30vw;
  max-width: 50vw;
  margin: 8px 0;
}

.whitelist-modal-delete-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  min-width: 400px;
  width: 50%;
  margin: 2px 0;
  padding: 2px 0;
}

.whitelist-modal-delete-row.deleted {
  background-color: #eee;
  border-radius: 3px;
  text-decoration: line-through;

  color: $csm-neutral;
}

.whitelist-modal-delete-row-content {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.whitelist-modal-delete-row-btn {
  min-width: 24px;
  color: $csm-danger;

  cursor: pointer;
  user-select: none;
}

.whitelist-modal-delete-row.deleted .whitelist-modal-delete-row-btn {
  color: #aaa;
}

.whitelist-modal-delete-row-email {
  flex: 2;
  color: #888;
  font-size: 0.9rem;
}

.whitelist-modal-delete-row-name {
  flex: 1;
}
