@use "base/variables" as *;

#word-of-the-day-container {
  border-top: 2px solid #e7e7e7;
  padding-top: 10px;
  margin-top: 25px;
}

#word-of-the-day-card {
  border: 2px solid #e7e7e7;
  box-shadow: 0px 4px 4px rgba(198, 198, 198, 0.25);
  border-radius: 20px;
  padding: 30px 30px 15px;
  margin-bottom: 30px;
}

.word-of-the-day-action-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.word-of-the-day-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.word-of-the-day-status.unselected {
  color: $csm-danger;
}

.word-of-the-day-status.selected {
  color: $csm-green-darkened;
}

.random-word-picker-btn {
  color: $csm-green-darkened;
}

.word-of-the-day-select {
  max-width: 200px;
  width: 150px;
  text-align-last: center;
  padding: 6px;
  border-radius: 6px;
  border: none;
  margin-right: 5px;
  font-family: "Montserrat";
}

.word-of-the-day-select-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.word-of-the-day-submit-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.word-of-the-day-status-bar {
  padding: 10px 0;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
}

.word-of-the-day-status-text {
  color: $csm-danger;
}

.word-of-the-day-icon {
  width: 2em;
  height: 2em;
}

.word-of-the-day-deadline:not(.passed) {
  color: $csm-green-darkened;
}

.word-of-the-day-deadline.passed {
  color: $csm-danger-darkened;
}
