{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": false,
        "targets": {
          "Chrome": "70",
          "Safari": "12",
          "Firefox": "62",
          "ios": "12",
          "ChromeAndroid": "70"
        }
      }
    ]
  ],
  "plugins": ["transform-class-properties", "lodash", "@babel/plugin-transform-runtime"]
}
