{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
	"prettier"
  ],
  "rules": {
	  "react/prop-types": [0],
  },
  "env": {
	  "es6": true,
	  "browser": true
  }
}
