asgiref==3.2.3
Brotli==1.0.7
certifi==2019.6.16
chardet==3.0.4
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.0.3
django-extensions==2.2.8
django-heroku==0.3.1
djangorestframework==3.11.0
djangorestframework-camel-case==1.1.2
factory-boy==2.12.0
Faker==2.0.1
gunicorn==20.0.4
idna==2.8
oauthlib==3.1.0
psycopg2-binary==2.8.4
PyJWT==1.7.1
python-dateutil==2.8.0
python-social-auth==0.3.6
python3-openid==3.1.0
pytz==2019.2
PyYAML==5.1.2
requests==2.22.0
requests-oauthlib==1.2.0
sentry-sdk==0.14.1
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
sqlparse==0.3.0
text-unidecode==1.2
urllib3==1.25.3
whitenoise==5.0.1
