@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('../fonts/montserrat/Montserrat-Medium.ttf'); 
}
table {
  min-height: 100vh;
  background: #d1d1d1;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
  width: 100%;
  background-color: #fff;
}

.webtitle {
  padding-top: 15px;
  padding-left: 3%;
}
th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column {
  width: 130px;
  padding-left: 40px;
}

.row100.head th {
  padding-top: 15px;
  padding-bottom: 12px;
}

.row100 td {
  padding-top: 5px;
  padding-bottom: 5px;
}


.table td {
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
}

.table th {
  font-family: Montserrat-Medium;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;

  background-color: #36304a;
}

.table .row100:hover {
  background-color: #f2f2f2;
}

.table .hov-column-ver1 {
  background-color: #f2f2f2;
}

.table .hov-column-head-ver1 {
  background-color: #484848 !important;
}

.table .row100 td:hover {
  background-color: #6c7ae0;
  color: #fff;
}

.table .highlighted td:click {
  background-color: #6c7ae0;

}


.button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width : 10%;
  
}

.button:hover {
  background-color: #6c7ae0; /* Green */
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}