<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Logistinator</title>
		<meta charset="UTF-8" />
		<link
			rel="stylesheet"
			type="text/css"
			href="../../static/logistinator_frontend/vendor/bootstrap/css/bootstrap.min.css"
		/>
		<link rel="stylesheet" type="text/css" href="../../static/logistinator_frontend/css/style.css" />
		<script src="../../static/logistinator_frontend/main.js"></script>
	</head>
	<body>
		<div class="webtitle"><h1>Logistinator</h1></div>
		<div class="div-time-selection">
			<select class="select-start" id="select-start"></select>
			<select class="select-end" id="select-end"></select>
			<button class="button">Submit</button>
		</div>

		<div class="table" id="div-table">
			<table id="table" data-vertable="ver1">
				<tbody>
					<tr class="row100 head">
						<th class="column column1" data-column="column1"></th>
						<th class="column column2" data-column="column2">
							Monday
						</th>
						<th class="column column3" data-column="column3">
							Tuesday
						</th>
						<th class="column column4" data-column="column4">
							Wednesday
						</th>
						<th class="column column5" data-column="column5">
							Thursday
						</th>
						<th class="column column6" data-column="column6">
							Friday
						</th>
						<th class="column column7" data-column="column7">
							Saturday
						</th>
						<th class="column column8" data-column="column8">
							sunday
						</th>
					</tr>
					<tr class="row100 time0000">
						<td class="column column1" data-column="column1">
							00:00
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time0030">
						<td class="column column1" data-column="column1">
							00:30
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time0100">
						<td class="column column1" data-column="column1">
							01:00
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time0130">
						<td class="column column1" data-column="column1">
							01:30
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time0200">
						<td class="column column1" data-column="column1">
							02:00
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time0230">
						<td class="column column1" data-column="column1">
							02:30
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time0300">
						<td class="column column1" data-column="column1">
							03:00
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time0330">
						<td class="column column1" data-column="column1">
							03:30
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time0400">
						<td class="column column1" data-column="column1">
							04:00
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time0430">
						<td class="column column1" data-column="column1">
							04:30
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time0500">
						<td class="column column1" data-column="column1">
							05:00
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time0530">
						<td class="column column1" data-column="column1">
							05:30
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time0600">
						<td class="column column1" data-column="column1">
							06:00
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time0630">
						<td class="column column1" data-column="column1">
							06:30
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time0700">
						<td class="column column1" data-column="column1">
							07:00
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>

					<tr class="row100 time0730">
						<td class="column column1" data-column="column1">
							07:30
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time0800">
						<td class="column column1" data-column="column1">
							08:00
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time0830">
						<td class="column column1" data-column="column1">
							08:30
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time0900">
						<td class="column column1" data-column="column1">
							09:00
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time0930">
						<td class="column column1" data-column="column1">
							09:30
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time1000">
						<td class="column column1" data-column="column1">
							10:00
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>

					<tr class="row100 time1030">
						<td class="column column1" data-column="column1">
							10:30
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time1100">
						<td class="column column1" data-column="column1">
							11:00
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time1130">
						<td class="column column1" data-column="column1">
							11:30
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time1200">
						<td class="column column1" data-column="column1">
							12:00
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time1230">
						<td class="column column1" data-column="column1">
							12:30
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time1300">
						<td class="column column1" data-column="column1">
							13:00
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time1330">
						<td class="column column1" data-column="column1">
							13:30
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time1400">
						<td class="column column1" data-column="column1">
							14:00
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time1430">
						<td class="column column1" data-column="column1">
							14:30
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time1500">
						<td class="column column1" data-column="column1">
							15:00
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time1530">
						<td class="column column1" data-column="column1">
							15:30
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time1600">
						<td class="column column1" data-column="column1">
							16:00
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time1630">
						<td class="column column1" data-column="column1">
							16:30
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time1700">
						<td class="column column1" data-column="column1">
							17:00
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>

					<tr class="row100 time1730">
						<td class="column column1" data-column="column1">
							17:30
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time1800">
						<td class="column column1" data-column="column1">
							18:00
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time1830">
						<td class="column column1" data-column="column1">
							18:30
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time1900">
						<td class="column column1" data-column="column1">
							19:00
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time1930">
						<td class="column column1" data-column="column1">
							19:30
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time2000">
						<td class="column column1" data-column="column1">
							20:00
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time2030">
						<td class="column column1" data-column="column1">
							20:30
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time2100">
						<td class="column column1" data-column="column1">
							21:00
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time2130">
						<td class="column column1" data-column="column1">
							21:30
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time2200">
						<td class="column column1" data-column="column1">
							22:00
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time2230">
						<td class="column column1" data-column="column1">
							22:30
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time2300">
						<td class="column column1" data-column="column1">
							23:00
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
					<tr class="row100 time2330">
						<td class="column column1" data-column="column1">
							23:30
						</td>
						<td class="column column2" data-column="column2"></td>
						<td class="column column3" data-column="column3"></td>
						<td class="column column4" data-column="column4"></td>
						<td class="column column5" data-column="column5"></td>
						<td class="column column6" data-column="column6"></td>
						<td class="column column7" data-column="column7"></td>
						<td class="column column8" data-column="column8"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
