/* Generic global styling */

@use "variables" as *;

html,
body {
  height: 100%;
  width: 100%;
  font-family: $default-font;
}

body {
  max-width: 100%;
  /* Usually set by browser stylesheet, but we standardize it here to account for different browsers */
  margin: 8px;
  overflow-x: hidden;
}

main {
  padding: 2rem;
  margin-left: -8px;
}

button {
  // use parent font instead of default button font
  font-family: inherit;
  // use parent font size instead of default button font size
  font-size: inherit;

  &:hover {
    cursor: pointer;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // remove top margin for all headers;
  // especially for the modal windows
  margin-top: 0;
}

/// Styling for inline + or x signs, mostly used for add or close buttons.
.inline-plus-sign {
  font-weight: 600;
  font-size: 1.5rem;
  vertical-align: sub;
}

.icon {
  display: inline-block;
  font-size: inherit;
  width: 1rem;
  height: 1rem;
  overflow: visible;
  margin-top: -0.125em;

  fill: currentColor;
  stroke: currentColor;
}

/// Styling for relation label; used across multiple pages
.relation-label {
  text-transform: capitalize;
  padding: 8px 16px;
  color: white;
  min-width: 60px;
  max-width: fit-content;
  max-width: -moz-fit-content;
  text-align: center;
  border-radius: 20px;
  margin-top: auto;
}
