/* Generic global styling */

@use "variables" as *;

/* The best font ever. In case someone doesn't have it installed. */
@font-face {
  font-family: "Comic Sans Fallback";
  src: url("https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot");
  src:
    url("https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.svg#Comic Sans MS") format("svg");
}

html,
body {
  width: 100%;
  height: 100%;

  font-family: "Comic Sans MS", "Comic Sans", "Comic Sans Fallback", Arial, sans-serif;
  backdrop-filter: saturate(0);
  animation: background-cycle 30s linear infinite;
}

@keyframes background-cycle {
  0% {
    background-color: #ffe2e2;
  }

  10% {
    background-color: #fffbe9;
  }

  20% {
    background-color: #f6ffea;
  }

  30% {
    background-color: #e7ffea;
  }

  40% {
    background-color: #dffff0;
  }

  50% {
    background-color: #e0f6ff;
  }

  60% {
    background-color: #e0ebff;
  }

  70% {
    background-color: #d7d9ff;
  }

  80% {
    background-color: #ece8ff;
  }

  90% {
    background-color: #f1e1ff;
  }

  100% {
    background-color: #ffe2e2;
  }
}

body {
  max-width: 100%;

  /* Usually set by browser stylesheet, but we standardize it here to account for different browsers */
  margin: 8px;
  overflow-x: hidden;
}

main {
  padding: 2rem;
  margin-left: -8px;
}

button {
  // use parent font instead of default button font
  font-family: inherit;

  // use parent font size instead of default button font size
  font-size: inherit;

  &:hover {
    cursor: pointer;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // remove top margin for all headers;
  // especially for the modal windows
  margin-top: 0;
}

/// Styling for inline + or x signs, mostly used for add or close buttons.
.inline-plus-sign {
  font-size: 1.5rem;
  font-weight: 600;
  vertical-align: sub;
}

.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-top: -0.125em;
  overflow: visible;

  font-size: inherit;

  fill: currentcolor;
  stroke: currentcolor;
}

// some icons are outline icons that require no fill
.icon.outline {
  fill: none;
}

/// Styling for relation label; used across multiple pages
.relation-label {
  min-width: 60px;
  max-width: fit-content;
  padding: 8px 16px;
  margin-top: auto;

  color: white;
  text-align: center;
  text-transform: capitalize;

  border-radius: 20px;
}
