/* Styling for buttons and tabs. */

@use "variables" as *;

/** Base button styling */
%button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: $button-icon-gap;

  padding: 8px 15px;
  // rounded corners
  border-radius: 10px;
  // no border around button
  border: none;
  outline: none;
  // default text
  text-decoration: none;
  // need to respecify the font family on buttons
  font-family: $default-font;
  // don't allow selecting text in buttons
  user-select: none;
  // set cursor
  cursor: pointer;

  &:disabled,
  &:disabled:hover {
    background-color: $csm-neutral;
    cursor: not-allowed;
  }
}

.primary-btn {
  @extend %button;

  background-color: $csm-green;
  color: white;

  &:not(:disabled):hover {
    background-color: $csm-green-darkened;
  }
}

.secondary-btn {
  @extend %button;

  background-color: $csm-neutral;
  color: white;

  &:not(:disabled):hover {
    background-color: $csm-neutral-darkened;
  }
}

.danger-btn {
  @extend %button;

  background-color: $csm-danger;
  color: white;

  &:not(:disabled):hover {
    background-color: $csm-danger-darkened;
  }
}

.primary-link-btn {
  @extend %button;

  background-color: inherit;
  color: $csm-green;

  // bolder font
  font-weight: bold;

  &:not(:disabled):hover {
    color: $csm-green-darkened;
  }
}

.secondary-link-btn {
  @extend %button;

  background-color: inherit;
  color: $csm-neutral;

  &:not(:disabled):hover {
    color: $csm-neutral-darkened;
  }
}

.primary-outline-btn {
  @extend %button;

  background-color: inherit;
  font-weight: bold;
  color: $csm-green;
  border: 3px solid $csm-green;

  &:not(:disabled):hover {
    color: $csm-green-darkened;
    border-color: $csm-green-darkened;
  }
}

.tab-list {
  // flex box with centered content
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // small gap between tabs
  gap: 8px;
  // extra margins on top and bottom
  margin-top: 12px;
  margin-bottom: 12px;
}

.tab {
  @extend %button;

  background-color: $csm-neutral;
  color: white;

  // extra padding for tabs
  padding: 12px 15px;

  // active tab styling
  &.active {
    background-color: $csm-green;
  }

  // inactive hover; darken to suggest it is clickable
  // no active hover, since an active tab cannot be clicked
  &:not(.active):hover {
    background-color: $csm-neutral-darkened;
  }
}
