/// Error page styles

@use "variables" as *;

#fatal-error-page {
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

#fatal-error-page > h1 {
  color: $csm-danger;
  text-align: center;
}

#stack-trace {
  overflow: auto;
}

#stack-trace > pre {
  width: fit-content;
  margin: auto;
}

.internal-error-title {
  color: $csm-danger !important;
}

.internal-error-body {
  width: 80%;

  font-size: 1.5rem;
  text-align: center;
}
