@use "variables" as *;

.search-bar {
  width: 250px;
  min-width: 100px;
  max-width: 250px;
}

.search-icon {
  position: absolute;
  z-index: 999;

  display: inline-block;

  width: 1.5rem;
  height: 1.25rem;

  padding: 3px;
  margin-top: 1px;

  overflow: visible;

  font-size: inherit;
}

.search-input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  padding-left: 2em;

  font-family: inherit;

  border: 1px solid $csm-neutral;
  border-radius: 3px;
}
