/// Table styles

@use "variables" as *;

.csm-table {
  max-width: 90vw;
  padding: 20px;

  border-spacing: 0;

  /// additional styling if the table is standalone
  &.standalone {
    border: 2px solid #e7e7e7;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgb(198 198 198 / 25%);
  }
}

.csm-table-head {
  text-align: left;
}

.csm-table-head-row {
  padding: 0 $table-padding;
  font-size: 1.5rem;

  color: $csm-content-title-color;
}

.csm-table-item {
  padding: $table-padding;
}
