/// Table styles

@use "variables" as *;

.csm-table {
  max-width: 90vw;
  padding: 20px;
  border-spacing: 0;

  /// additional styling if the table is standalone
  &.standalone {
    border: 2px solid #e7e7e7;
    box-shadow: 0px 4px 4px rgba(198, 198, 198, 0.25);
    border-radius: 20px;
  }
}

.csm-table-head {
  text-align: left;
}

.csm-table-head-row {
  font-size: 1.5rem;
  color: $csm-content-title-color;
  padding: 0 $table-padding;
}

.csm-table-item {
  padding: $table-padding;
}
