/*
Login styles.

Defined in CSS, since the login page is standalone.
*/

#login-container {
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: Montserrat, sans-serif;
  text-align: center;
}

#login-card {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 80%;
  max-width: 25em;
  height: 24em;
  padding: 3em 1em;
  margin-top: 10%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #666;
  text-align: center;
  background: #fff;
  box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
  transition: box-shadow 0.1s ease-in-out;
}

#login-btn {
  box-sizing: border-box;
  display: inline-block;
  width: 35%;
  min-width: 10em;
  padding: 0 30px;
  margin: auto;
  margin-top: 4em;
  overflow: visible;
  font: inherit;
  font-size: 0.875rem;
  line-height: 38px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  background-color: #1e87f0;
  border: 1px solid transparent;
  box-shadow: 0 4px 4px #0002;
  transition: 0.1s ease-in-out;
  transition-property: color, background-color, border-color;
}

#login-subtitle {
  display: block;
  margin: auto;
  margin-top: 0.5em;
  font-size: 0.75em;
  font-weight: 400;
  text-align: center;
  opacity: 0.5;
}

#login-logo {
  display: block;
  width: 20em;
  max-width: 75%;
  margin: auto;
}
