.tab-list {
	margin-bottom: 24px;
}

.tab.active {
	background-color: var(--csm-green);
}

.tab.active:hover {
	background-color: var(--csm-green);
}

.tab {
	background-color: var(--csm-neutral);
	border: none;
	border-radius: 8px;
	color: white;
	font-size: 16px;
	margin: 8px;
	padding: 16px;
	width: 88px;
}

.tab:hover {
	background-color: var(--csm-neutral-darkened);
}

.tabs {
	margin: auto;
	text-align: center;
}

.resourceWrapperContainer {
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 1064px;
}

.resourceContainer,
.resourceEditContainer {
	background-color: var(--csm-resources);
	border-radius: 8px;
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 0 -1px rgb(0 0 0 / 6%);
	margin: 16px auto;
	padding: 24px 0;
}

.resourceContainer,
.resourceEditContainer,
.resourceWrapperHeader {
	display: flex;
	text-align: center;
	width: 100%;
}

.resourceWrapperHeader {
	margin-bottom: 4px;
}

.resourceInfo,
.resourceWrapperHeader > div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	padding: 0 8px;
}

.weekNum,
.dateCell {
	flex: 1;
}

.resourceTopics {
	flex: 2;
}

.resourceWkst {
	flex: 2;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.resourceWkstFile,
.resourceSoln {
	color: var(--csm-green-darkened);
}

.resourceWkstFile {
	text-decoration: underline;
}

.resourceSoln {
	border: 2px solid var(--csm-green-darkened);
	border-radius: 5px;
	font-size: 14px;
	font-weight: 600;
	margin-top: 8px;
	padding: 4px;
	text-align: center;
	width: 80px;
}

.resourceWkstFile:hover,
.resourceSoln:hover {
	border-color: #4e7a5d;
	color: #4e7a5d;
	cursor: pointer;
}

.topic {
	background-color: var(--csm-green);
	border-radius: 4px;
	margin: 4px;
	padding: 4px 8px;
}

.resourceEditContainer {
	flex-direction: column;
}

#resourceEditInner {
	display: flex;
	flex-direction: row;
	margin: auto 20%;
	justify-content: space-between;
	padding: 16px;
}

.resourceInfoEdit {
	margin: 4px;
	padding: 4px;
}

.resourceInfoEdit > div {
	margin: 4px 2px;
}

.resourceWrapperHeader > div {
	font-size: 16px;
	font-weight: 600;
}

#resourceButtonSubmit {
	background-color: var(--csm-green);
	border: none;
	border-radius: 8px;
	margin: auto;
	padding: 8px;
	width: 160px;
}

#resourceButtonSubmit:hover {
	background-color: var(--csm-green-darkened);
}
