.tab-list li.active {
	color: var(--csm-green-darkened);
}

.tab-list li:hover {
	color: blue;
}

.resourceWrapperContainer a {
	color: #519c6c;
}

.resourceWrapperContainer {
	display: flex;
	max-width: 1024px;
}

.resourceWrapperContainer {
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 1024px;
}

.dateCell {
	width: fit-content;
	min-width: 100px;
}

.resourceContainer,
.resourceEditContainer {
	background-color: var(--csm-resources);
	border-radius: 8px;
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 0 -1px rgb(0 0 0 / 6%);
	display: flex;
	margin: 16px;
	padding: 16px;
	text-align: center;
	width: 100%;
}

.resourceInfo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	padding: 8px;
	width: 15%;
}

.topic {
	background-color: var(--csm-green);
	border-radius: 4px;
	margin: 4px;
	padding: 4px;
}

#resourceTopics,
#resourceWkstName {
	width: 96px;
}

.resourceEditContainer {
	flex-direction: column;
}

#resourceEditInner {
	display: flex;
	flex-direction: row;
	margin: auto 20%;
	justify-content: space-between;
	padding: 16px;
}

.resourceInfoEdit {
	margin: 4px;
	padding: 4px;
}

.resourceInfoEdit > div {
	margin: 4px 2px;
}

#resourceButtonSubmit {
	background-color: var(--csm-green);
	border: none;
	border-radius: 8px;
	margin: auto;
	padding: 8px;
	width: 160px;
}

#resourceButtonSubmit:hover {
	background-color: var(--csm-green-darkened);
}
