.search-bar {
	min-width: 100px;
	width: 250px;
	max-width: 250px;
}

.search-icon {
	display: inline-block;
	font-size: inherit;

	position: absolute;
	z-index: 999;

	width: 1.5rem;
	height: 1.25rem;

	padding: 3px;
	margin-top: 1px;

	overflow: visible;
}

.search-input {
	width: 100%;
	box-sizing: border-box;

	border: 1px solid var(--csm-neutral);
	border-radius: 3px;
	padding: 5px;
	padding-left: 2em;

	font-family: inherit;
}
