html, body {
  height: 100%;
  width: 100%;
	font-family: 'Montserrat', sans-serif;
}

body {
  max-width: 100%;
	margin: 8px; /* Usually set by browser stylesheet, but we standardize it here to account for different browsers */
	overflow-x: hidden;
}

:root {
	--csm-green: #9AE0B3;
	--csm-green-darkened: #88cea1;
}

/* Header */

header {
	box-shadow: 0px 4px 4px rgba(188, 188, 188, 0.25);
	padding: 30px 3em;
	display: flex;
	margin: -8px -8px 0 -8px;
}

#logo {
	height: 3em;
	margin-right: 20px;
}

#site-title {
	font-weight: 600;
	font-size: 23px;
	line-height: 18px;
	color: #808080;
}

#user-profile-pic {
	border: 2px solid #FFFFFF;
	border-radius: 26px;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(136, 136, 136, 0.25);
}

#header-menu {
	margin-left: auto;
}

#logout-btn {
	position: absolute;
	display: none;
}

#header-menu:hover #logout-btn {
	display: block;
}

.modal {
	position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 600px;
	max-width: 90vw;
	height: 400px;
	max-height: 90vh;
	z-index: 1000;
	background-color: white;
}

.modal-overlay {
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	z-index: 999;
	background: rgba(0, 0, 0, 0.6);
}

.modal-contents {
	position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 20px;
  overflow: auto;
}

.modal-contents svg {
	display: block;
	margin: auto;
}

.modal-contents h3 {
	text-align: center;
	color: #808080;
	font-size: 2em;
}

.modal-contents h4 {
	text-align: center;
}

.modal-close {
	all: unset;
}

.modal-btn {
	display: block;
	color: white;
	margin: auto;
	font-size: 1.25em;
	padding: 10px 20px;
	background-color: #007bff;
	border-radius: 10px;
	cursor: pointer;
}

.modal-btn:hover {
	background-color: #0069d9;
}


/* Home page */

.inline-plus-sign {
	font-weight: 600;
	font-size: 30px;
	vertical-align: sub;
}

#home-courses {
	display: flex;
	align-items: center;
	width: 50%;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 300px;
}

.csm-btn {
	background-color: var(--csm-green);
	border-radius: 20px;
	color: white;
	padding: 3px 10px;
	text-decoration: none;
}

.csm-btn:hover {
	background-color: var(--csm-green-darkened);
}

/* Course menu */

#course-menu {
	display: grid;
	grid-template-columns: repeat(auto-fill, 10em);
	max-width: calc((2 * 10em) + 10px);
	grid-gap: 10px;
	margin: auto;
	text-align: center;
	justify-content: center;
	font-size: 2em;
}

/* Section enrollment */

.section-card {
	width: 300px;
	overflow-x: hidden;
	box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	margin: 0 auto 50px;
}

.section-card-contents {
	padding: 10px 20px 0;
}

.section-card-contents p {
	color: #727272;
}

.section-card-contents svg {
	vertical-align: bottom;
	margin-right: 5px;
}

.section-card-footer {
	font-size: 1.3em;
	border-radius: 0px;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
}

#day-selector {
	display: grid;
	grid-template-columns: repeat(auto-fit, 60px);
	grid-auto-rows: max-content;
	grid-gap: 5px;
	justify-content: center;
}

#course-section-controls {
	flex-grow: 0.5;
	min-width: 50%;
	top: 0;
	align-self: flex-start;
}

.day-btn {
	height: 60px;
	width: 60px;
	border-radius: 30px;
	border: 2px solid var(--csm-green);
	background-color: white;
	color: #717171;
	font-size: 1.3em;
	cursor: pointer;
	text-align: center;
	outline: none;
}

.day-btn:hover {
	background-color: #fafafa;
}

.day-btn.active {
	background-color: var(--csm-green);
	color: white;
}

#course-section-list {
	height: 50vh;
}

#course-section-selector {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#course-section-selector > div {
	padding-top: 40px;
}

.course-title {
	color: #6D6D6D;
	font-size: 2.5em;
	font-weight: 400;
	margin: 0 0 10px;
	text-align: center;
}


nav.course-selection {
  display: flex;
  justify-content: space-evenly;
}

#header ol {
  list-style-type: none;
  padding-right: 0em;
  padding-left: 0em;
}

#header ol * {
  display: inline-block;
  margin-right: 1em;
}

.course-sections {
  display: flex;
  justify-content: space-evenly;
}

.course-sections table {
  display: table;
}

.course-sections tbody {
  vertical-align: top;
}

@media (max-width: 1185px) {
  .course-sections {
    display: block;
  }

  .course-sections-group section {
    margin: 0px auto 15px;
  }
}

.course-sections-group {
  display: flex;
  flex-direction: column;
}

.course-sections-group section {
  width: 200px;
  height: 100px;
  border: 1px solid #989898;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: white;
}

.course-sections-group section i {
  margin-right: 5px;
  width: 15px;
}

.course-sections-group section.full {
  background-color: #989898;
}

.course-sections-group section.full button {
  visibility: hidden;
}

.enrollment-btn {
  position: relative;
  top: 15px;
}


.enrollment-btn button {
  width: 100px;
  margin-right: 15px;
  font-size: 1em;
  background-color: white;
  border: 1px #989898 solid;
  cursor: pointer;
}

.mentor-email-link {
  margin-left: 5px;
}

.course-sections-group section button:hover {
  background-color: #aaaaaa;
}

/* login */

#login-container {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}

#login-card {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	position: relative;
	box-sizing: border-box;
	transition: box-shadow .1s ease-in-out;
	background: #fff;
	color: #666;
	box-shadow: 0 5px 15px rgba(0,0,0,.08);
	display: inline-block;
	width: 80%;
	max-width: 25em;
	height: 24em;
	margin-top: 10%;
	padding: 3em 1em 3em 1em;
}

#login-btn {
	overflow: visible;
	font: inherit;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 30px;
	vertical-align: middle;
	font-size: .875rem;
	line-height: 38px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: .1s ease-in-out;
	transition-property: color,background-color,border-color;
	background-color: #1e87f0;
	color: #fff;
	border: 1px solid transparent;
	cursor: pointer;
	width: 35%;
	min-width: 10em;
	margin: auto;
	margin-top: 4em;
	box-shadow: 0px 4px 4px #0002;
}

#login-subtitle {
  display: block;
  margin: auto;
  margin-top: 0.5em;
  font-weight: 400;
  font-size: 0.75em;
  text-align: center;
  opacity: 0.5;
}

#login-logo {
  display: block;
  width: 20em;
  max-width: 75%;
  margin: auto;
}

.page-title {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: #646464;
}

.center-title {
	text-align: center;
}

main {
	padding: 3em;
}

.copy-student-emails {
	border: none;
	cursor: pointer;
}

.copy-student-emails:hover {
	color: blue;
}

.copy-student-emails:focus {
	outline: none;
}

.copy-student-emails::after {
	margin-left: 5px;
	content: "Emails copied";
	opacity: 1;
	visibility: hidden;
}

.copy-student-emails:focus::after {
	content: "Emails copied";
	visibility: visible;
	opacity: 0;
	transition: opacity 0.5s;
	transition-delay: 2s;
}

